<%= form_for @question, :remote => true do |f| %> 
	<div class="form-group">
  	<%= f.label :body, "Description" %>
  	<%= f.text_area :body, class: 'form-control', rows: 3 %>
  </div>
  <!-- error blog body -->
  <% if @question.errors.present? %>
    <% @question.errors.full_messages_for(:body).each do |message| %>
      <div class="err-msg"><%= message %></div>
    <% end %>
  <% end %>
  <!-- error blog body -->

	<div class="form-group">
  	<%= f.label :role_id, "Select Role" %>
  	<%= f.select :role_id, get_role_details, {}, {:class => 'form-control'} %>
  </div>

	<div class="form-group">
  	<%= f.label :mapping_id, "Select Mapping" %>
  	<%= f.select :mapping_id, get_mapping_details, {}, {:class => 'form-control'} %>
  </div>
  <% unless action_name.eql?('show')  %>
  	<div class="form-group">
    	<%= f.submit "Submit", class: 'btn btn-primary', onclick: "show_loader()" %>
    </div>
  <% end %>
<% end %>